body {
    background-color: #0089b0;
    font-family: 'Anton', sans-serif;
    color: #ffffff;
}

.tops-navbar {
    background-color: #f79d44;
}

.tops-navbar a {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
}

h1 {
    font-size: 70px;
}

h2 {
    color: #f79d44;
    font-size: 60px;

}

h1, h2 {
    display: block;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
}

.current-musical-img {
    display: block;
    margin: 0 auto;
}