body {
    background-color: #0089b0;
    color: #ffffff;
    margin: 100px auto 100px;
    min-width: 350px;
}

.tops-navbar {
    background-color: #ffffff;
    border-bottom: 5px solid #f79d44;
}

.tops-navbar a {
   color: #025a7e; 
} 

.tops-navbar a, .footer-container a, .footer-container p{
    font-size: 15px;
    text-transform: uppercase;
}

h1 {
    color: #f79d44;
    font-size: 80px;
}

h2 {
    font-size: 50px;
}

h1, h2 {
    display: block;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
}

h1, h2, h3, h4 {
    font-family: 'Anton', sans-serif;
}

h3 {
    font-size: 25px;
    text-transform: uppercase;
}

h4 {
    font-size: 18px;
}

h3, h4 {
    letter-spacing: 2px;
}

ul {
    list-style: none;
    padding: 0;
}


.current-musical-container {
    background-color: #fb7cc3;
    border-radius: 2px;
    font-family: 'Poppins', sans-serif;
    max-width: 750px;
    margin: 15px auto;
    padding: 20px 50px;
}


.current-musical-img {
    display: block;
    border-radius: 2px;
    margin: 15px auto 20px;

}

.current-musical-container p {
    font-size: 15px;
}

.ticket-buttons button {
    border-radius: 3px;
    display: block;
    margin: 10px auto;
    padding: 10px;
    transition: all ease-in-out 18ms;
    width: 80%;
}

.ticket-buttons button:hover {
    box-shadow: 3px 4px 4px rgb(247, 163, 212);
    font-weight: bolder;
    transform: scale(1.1);
}

.ticket-buttons a {
    color: black;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
}

.about-tops-container {
    background-image: linear-gradient(rgba(2, 4, 3, 0.6), rgba(2, 4, 3, 0.8)), url("/src/images/barnham_background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: none;
    padding: 50px 200px;
}

.quote-container {
    background-image: linear-gradient(rgba(2, 4, 3, 0.6), rgba(2, 4, 3, 0.8)), url("/src/images/whistle_background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: none;
    padding: 50px;
}

.join-tops-container {
    background-image: linear-gradient(rgba(2, 4, 3, 0.6), rgba(2, 4, 3, 0.8)), url("/src/images/fiddler_background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: none;
    padding: 50px;
}

.subscribe-tops-container {
    background-image: linear-gradient(rgba(2, 4, 3, 0.6), rgba(2, 4, 3, 0.8)), url("/src/images/hampton_hill_theatre_background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: none;
    padding: 50px;
}

.support-tops-container {
    background-image: linear-gradient(rgba(2, 4, 3, 0.6), rgba(2, 4, 3, 0.8)), url("/src/images/ace_background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: none;
    padding: 50px;
}

.contact-tops-container {
    background-image: linear-gradient(rgba(2, 4, 3, 0.6), rgba(2, 4, 3, 0.8)), url("/src/images/ace2_background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: none;
    padding: 50px;
}

.footer-container {
    border-top: 5px solid white;
    background-color: #f79d44;
    max-width: none;
    padding: 10px; 
    text-align: center;
}

.footer-container a, .footer-container p{
    color: white;
}

.footer-container i {
    font-size: 20px;
    padding-left: 5px;
    padding-right: 5px;
    transition: ease-in-out 18ms;
}

.footer-container i:hover {
    transform: scale(1.5);
}

.footer-container p {
    font-size: 15px;
    margin-bottom: 0;
    padding: 0 10px;
}


@media (max-width: 800px) {
    body {
        margin: 100px 10px;
        text-align: center;
    }

    h1 {
        font-size: 60px;
    }
    
    h2 {
        font-size: 35px;
    }

    h3 {
        font-size: 22px;
    }
    
    h4 {
        font-size: 15px;
    }

    .current-musical-container p {
        font-size: 13px;
    }

    .ticket-buttons a {
        font-size: 11px;
    }

    .about-tops-container {
        padding: 50px;
    }

}